.banner{
    position: relative;
}

.button__navegation {
    border-radius: 100%;
    background: #486671;
    color: #ffffff;
    position: fixed;
    width: 60px;
    height: 60px;
    z-index: 15;
    text-align: center;
    margin-left: 90%;
    overflow: hidden;
}


.button__navegation:hover {
    background: #ffffff;
    color: #464646;
    border-radius: 100%;
}

.button__navegation img {
    margin-top: 0.4rem;
}